* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  font-family: "Tahoma", sans-serif;

}


header {
  background: #FFF;
}


li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
}

a {
  text-decoration: none;
  color:#000000;
  font-size: 15px;
  font-weight: 700mm;
}

.navbar {
  max-width: 90vw;
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  margin: 0 auto;
}

.nav-list {
  align-items: center;
  display: flex;
  gap: 45px;
}

.logo {
 font-family: 'RoadTest';
    color: #000000;
    font-size: 22px;
}   

.nav-link { 
  transition: all 0.7s ease-in-out;
}
ul li a:active, ul li a:hover{
  border-bottom: 2px solid #505050;
}

.hamburger {
  display:none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color:#505050;
  margin: 5px 0;
  transition:all 0.3s ease-in-out;
}

.hero {
background-position: 50%;
background-size:cover;
width:100%;
height: 80vh;
background-repeat: no-repeat;
background-image:linear-gradient(rgba(10, 10, 10, 0.7),rgba(15, 15, 15, 0.6)),url(../img/background.jpg);
overflow: hidden;
display: flex;
flex-direction: column;
justify-content: center;  
}

.hero h1 {
  color: #FFF;
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700mm;
  letter-spacing: 2px;
 
}

.hero p {
  color: #FFF;
  font-size: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700mm;
  letter-spacing: 2px;
}


section .courses{
  height: 100px;
  width: 90%vw;
  gap: 20px;

}

.courses {
  margin-top: 10px;
}

.box-courses {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

 

.btn-courses {
  border-radius: 20px;
  width: 0  auto;
  height: 40px;
  padding: 5px;
  background-color: #f0f3f3;
  border: 1px solid #f0f8ff;
  margin: 2px 5px 20px;
  cursor: pointer;
  font-size: 15px;
  /*display: flex;*/
  flex-direction: column;
  justify-content: space-between;
  
  
}

.nav-icon {
  vertical-align: middle;
}
.btn-courses:hover{
 background-color: #f3ebeb;
}

.active {
   background-color: #f3ebeb;
}


.container {
   /* height: 100vh;
    width: 90vw;*/
    padding: 0;
    margin: 0 auto;
    
}

.group-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.box {
  background-color: #f3ebeb;
  margin: 0 15px 35px;
  min-height: 100px;
  padding: 2rem 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 22px;
  border: 1px solid rgba(0,0,0,.05);
  box-shadow: 0 0 4px 0.3px #dcdde1;
  width: 20%;
  transition: all 0.2s;
}
.box:hover, .contact-us:hover{
box-shadow: inset -1px 1px 9px 4px #ededed, -14px -14px 80px #fff;
    background-color: #f8f8ff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.box h2 {
 margin: 1.2rem 0 0.9rem;
}

.box p {

  line-height: 1.59rem;
  font-weight: 300;
}

.box .img-icon {
  height: 3.5rem;
  width: 3.5rem;
}

.container img {
  height: 100%;
  width: 100%;
  
}

.visit-btn a:link, .visit-btn a:visited {
    background-image: linear-gradient(90deg,#0f2614 0,#887c89 51%,#283b78);
    color: #FFF;
    border-radius: 22px;
    display: flex;
    font-size: 1.1rem;
    font-style: italic;
    font-weight: 300;
    justify-content: center;
    margin: 1.4rem 0 0;
    padding: 0.5rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    min-width: 90px;
}


.visit-btn a:active, .visit-btn a:hover {
color: rgb(198, 233, 253);
transition: .5s;

}

.contact {
  width: 100%;
  height: 50vh;
  padding: 0;
 
}

.contact h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 100px 0px 100px 0px;
  text-decoration: underline;
}

section .group-con {
  width: 70%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
 
}

.group-con img {
  width: 100%;
  max-width: 546px;
  height: 100%;
  margin: 50px;

}

.contact-us {
  display: flex;
  flex-direction: column;
  width: 35%;
  height: 550px;
  border-radius: 22px;
  background-color: #F3ebeb;
  padding: 5px;
  justify-content: center;
  align-items: center;
  box-shadow: -4px 9px 18px -3px rgba(0,0,0,0.5);
-webkit-box-shadow: -4px 9px 18px -3px rgba(0,0,0,0.5);
-moz-box-shadow: -4px 9px 18px -3px rgba(0,0,0,0.5);
}

.contact-us label {
  display: inline-block;
  font-weight: 400;
  font-size: 25px;
 
}

.contact-us h2 {
  padding: 20px;
  text-decoration: underline;
}

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc;
  border-radius: 4px; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical;
}
.submit-btn {
  border: 1px solid rgba(0,0,0,.05);
  background-image: linear-gradient(90deg,#0f2614 0,#887c89 51%,#283b78);;
  box-shadow: 0 0 4px 0.3px #dcdde1;
  color: white;
  padding: 6px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.1rem;
  font-style: italic;
  font-weight: 300;
  border-radius: 22px;
  margin: 15px;

}
.submit-btn:hover{
  color: rgb(198, 233, 253);
  transition: .5s;
}


.footer-container {
display: flex;
min-height: 75vh;
flex-flow: row wrap;

}

.footer-content {
background: #F3ebeb;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
width: 100%;
padding: 1em;
margin-top: auto;

}

.footer-content p{
  line-height: 1.59rem;
  font-weight: 300;
  /*width: 500px;*/
  letter-spacing: 1px;
  font-size: 13px;
}

.footer-content h2{
  font-size: 15px;
  font-weight: 800;
  text-decoration: underline;
}

.social-media {
  display: flex;
  justify-content: space-evenly;
 
}

.footer-sm {
display: flex;
flex-direction: row;
flex-wrap: wrap;
margin-right: 20px;

}

.footer-sm li {
  margin:15px; 
  list-style: none;
}

.footer-sm li a:active, ul li a:hover {
  border: none;
}

.img-icons {
  width: 30px;
  height: 30px;
  vertical-align: middle;
}




/**MEDIA QUERY***/

@media (max-width:912px) {
  .navbar {
    width: 100%;
  }

  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(8px) rotate(-45deg);
  }

  .nav-list {
    position: fixed;
    left: -100%;
    background-color: #FFFFFF;
    top: 70px;
    gap:0;
    flex-direction: column;
    width: 100%;
    text-align: center;
    transition: all 0.3 ease-in-out;
  }
  .nav-item {
    margin: 25px 0;
  }

  .nav-list.active {
    left: 0;
  }
  .hero {
      height: 33vh;
 
  }
  .hero h1 {
  font-size: 20px;
 
  }
  .hero p {
  font-size: 15px;
  font-weight: 700mm;
  letter-spacing: 2px;
  text-align: center;
}

.box {
  width: 96%;
}
.group-con {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-us {
  width: 95%;
}

.contact h1 {
  font-size: 30px;
  margin-bottom:-40px
}
.contact-us label {
  font-size: 15px;
}

.img-icons {
  height: 25px;
  width: 25px;
}

}
@media screen and (max-width:812px) and (min-width:375px){
.box {
  width:70%;
}
}
